<main class="article">
    <article class="card">
        <div>
            <div class="title">
                <h1>
                    <%= meta.title%>
                </h1>
                <h4 class="title__sub">
                    <%= meta.status%>
                </h4>
            </div>
            <% if(meta.description) {%>
            <div>
                <h2><%= meta.description %></h2>
            </div>
            <% } %>
        </div>
        <div>
            <%- content %>
        </div>
    </article>
</main>