

<main class="article">
    <article class="card">
        <div>
            <project-title title="<%= meta.title %>" status="<%= JSON.stringify(meta.state) %>" repo="<%= meta.repo%>"></project-title>
        </div>
        <div>
            <%- content %>
        </div>
    </article>
</main>