<!DOCTYPE html>
<html>

<%- include('layouts/head.html.ejs')%>

<body class="background-3">

<div class="content">
    <%- include('layouts/nav.html.ejs')%>

        <%-include(template)%>

</div>
<%- include("layouts/footer.html.ejs") %>
</body>
</html>

