


.warning{
    display: block;
    padding: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 9px;
    background-color: #fff3cd;
    color: #856404;
}

.warning p{
    margin: 0;
}