<nav class="navbar card">
    
    <ul class="navbar-nav">
        <li>
            <a href="/">
                <div>
                    <p>Home</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/projects">
                <div>
                    <p>Projects</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div>
                    <p>Posts</p>
                </div>
            </a>
        </li>
    </ul>
   

</nav>