@use "@material/elevation" as elevation;
@use "@material/shape";

@use "mixins";

@use "./helpers/reset";
@use "./_colors" as colors;


@use "./card";
@use "./navbar";
@use "./background";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root{
    font-size: 16px;
}

main{

    margin-top: 24px;

    display: flex;
    justify-content: center;

    &>*{
        width: 100%;
    }
}


.content{
    margin-top: 24px;

    margin-left: 58px;
    margin-right: 58px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &>*{
        flex-grow: 1;
        max-width: 1200px;
        width: 100%;
    }
}

.title{
    @include mixins.flex();
    
    align-items: baseline;

    &__sub{
        margin: 0;
        margin-left: 14px;
    }

}

h2{
    margin: 0;
    margin-bottom: 10px;
    font-size: 35px;
}

.profile{
    box-sizing: border-box;

    @include shape.radius(12px, true);

    @include elevation.elevation(8);

    width: 100%;

    padding: 14px;

    display: flex;
    flex-flow: row;

    &>img{
        width: 150px;
        margin-right: 24px;

        background-color: #18191c;
        border-radius: 50%;
        padding: 5px;
    }

    .icons{

        display: flex;
        .icon{
            color: black;
            margin-right: 5px;
            width: 28px;
            height: 28px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    &__socials{
        margin-left: auto;
        display: flex;
        align-items: flex-end;
        flex-direction: row;
    }
    
}

.projects{
    display: grid;
    grid-template-columns: repeat(1, minmax(240px, 1fr));
    gap: 18px;
    @include mixins.media-breakpoint-up(lg) { 
        grid-template-columns: repeat(2, minmax(240px, 1fr));
    }

}

article{
    ul{
        list-style-type: disc;
    }
}

@include mixins.media-breakpoint-down(md) { 
    .content{
        margin-left: 0;
        margin-right: 0;
    }

    .profile{
        flex-direction: column;
        align-items: center;

        img{
            margin: 0;
        }
    }
}
