<li>
  
    <div class="card card--outline">
      <a class="card__link" href="{{.Permalink}}"></a>

      <!--{{ partial "project_title" . }}-->
      <%-include("project_title.html.ejs")%>

      <p> <%= meta.description %> <!--{{.Description}}--></p>

      
    </div>
    

</li>