{{ define "main" }}

<main>
  <div class="card card--big">
    <div class="profile">
      <img src="/img/Aperture_Science_orange.png" alt="">

      <div>
        <div class="title">
          <h2>dpeter99</h2>
          <h4 class="title__sub">he/him</h4>
        </div>
        <div class="icons">
          <span class="icon">
            <img src="/img/c.svg">
          </span>
          <span class="icon">
            <img src="/img/cpp.svg">
          </span>
          <span class="icon">
            <img src="/img/csharp.svg">
          </span>
          <span class="icon">
            <img src="/img/java.svg">
          </span>
          <span class="icon">
            <img src="/img/kotlin.svg">
          </span>
          <span class="icon"></span>
          <span class="icon"></span>
        </div>
      </div>
      <div class="profile__socials">
        <a href="https://github.com" target="_blank">
          <p>github</p>
        </a>
      </div>
    </div>

    <div class="">
      <h3>About me</h3>
      <span>
        {{ .Content }}
      </span>

      <h3>Highlited projects</h3>

      <ul class="cards-list">
        {{ $t := .Site.GetPage "/projects" }}
        {{ range $t.Data.Pages }}
            {{ if .Param "highlited" }}
            <li>
              <a href="{{.Permalink}}">
                <div class="card card--outline">
                  <h2 class="card__title">{{ .Title }}</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi eos ipsam magnam debitis expedita tempora facilis quos esse illo. Cupiditate consequuntur error voluptatem eum, autem nobis asperiores eos. Natus!</p>
                </div>
              </a>
              
            </li>
            {{end}}

        {{ end }}
      </ul>

<!--
      <div class="cards projects">
        <a href="/projects/shadowengine">
          <div class="card card--outline">
            <h2 class="card__title">Shadow Engine</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi eos ipsam magnam debitis expedita tempora facilis quos esse illo. Cupiditate consequuntur error voluptatem eum, autem nobis asperiores eos. Natus!</p>
          </div>
        </a>
        <div class="card card--outline">
          <h2 class="card__title">Arcane Rituals</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi eos ipsam magnam debitis expedita tempora facilis quos esse illo. Cupiditate consequuntur error voluptatem eum, autem nobis asperiores eos. Natus!</p>
        </div>
        <div class="card card--outline">
          <h2 class="card__title">Aper bot / ARGUS</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi eos ipsam magnam debitis expedita tempora facilis quos esse illo. Cupiditate consequuntur error voluptatem eum, autem nobis asperiores eos. Natus!</p>
        </div>
        <div class="card card--outline">
          <h2 class="card__title">Test</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi eos ipsam magnam debitis expedita tempora facilis quos esse illo. Cupiditate consequuntur error voluptatem eum, autem nobis asperiores eos. Natus!</p>
        </div>
        <div class="card card--outline">
          <h2 class="card__title">Test</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi eos ipsam magnam debitis expedita tempora facilis quos esse illo. Cupiditate consequuntur error voluptatem eum, autem nobis asperiores eos. Natus!</p>
        </div>
      </div>
    </div>

  -->

  </div>
</main>

{{ end }}